# (C) 2017-2025 by Christian Hesse <mail@eworm.de>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

[Unit]
Description=Prepare pacman offline system-update
Documentation=https://git.eworm.de/cgit/pacman-offline/about/

[Timer]
OnBootSec=5min
OnCalendar=02:00:00
RandomizedDelaySec=45minutes

[Install]
WantedBy=timers.target
