[Unit]
Description=Prepare pacman offline system-update
ConditionPathExists=!/var/lib/pacman/db.lck

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman-offline -y
ExecStopPost=/usr/bin/rm -f /var/lib/pacman/db.lck
ProtectSystem=on
ProtectHome=on
PrivateDevices=on
NoNewPrivileges=on
