[Unit]
Description=Prepare pacman offline system-update

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman-offline -y
ProtectSystem=on
ProtectHome=on
PrivateDevices=on
NoNewPrivileges=on
