[Unit]
Description=Prepare pacman offline system-update
ConditionPathExists=!/var/lib/pacman/db.lck

[Timer]
OnBootSec=5min
OnUnitActiveSec=1d

[Install]
WantedBy=timers.target
