[Unit]
Description=Offline system update with pacman
ConditionPathIsSymbolicLink=/system-update
DefaultDependencies=false
Requires=sysinit.target dbus.socket
After=sysinit.target dbus.socket
Before=shutdown.target system-update.target
OnFailure=reboot.target

[Service]
Type=oneshot
StandardOutput=tty
StandardError=tty
ExecStartPre=-/usr/bin/plymouth change-mode --updates
ExecStartPre=-/usr/bin/plymouth system-update --progress=20
ExecStart=/usr/lib/systemd/scripts/pacman-offline
