# (C) 2017-2024 by Christian Hesse <mail@eworm.de>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

[Unit]
Description=Soft-reboot for pacman offline system-update
ConditionPathExists=/system-update

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl soft-reboot
