# (C) 2017-2025 by Christian Hesse <mail@eworm.de>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.


[Unit]
Description=Offline system update with pacman - Poweroff
Documentation=https://git.eworm.de/cgit/pacman-offline/about/
After=pacman-offline.service
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target system-update.target
ConditionPathExists=/run/pacman-offline-done
ConditionPathExists=/run/pacman-offline-poweroff
SuccessAction=poweroff

[Service]
Type=oneshot
ExecStart=/usr/bin/rm --force /run/pacman-offline-done /run/pacman-offline-poweroff
